.footer {
    background-color: #2d3436;
    color: var(--light-grey);
    font-size: 20px;
}

.footer p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light-grey);
}

.footer p a {
    position: absolute;
    right: 30px;
    margin: 0;
    color: var(--light-grey);
}

@media screen and (max-width: 767.98px) {
    .footer {
        width: 100%;
        margin: 0;
    }

    .footer p {
        height: 35px;
        margin: 0;
        font-size: 16px;
    }

    .footer p a {
        margin: 0;
    }
}

@media screen and (min-width: 768px) {
    .footer {
        width: 100%;
        margin: 0;
    }
    
    .footer p {
        height: 35px;
        font-size: 18px;
    }

    .footer p a {
        margin: 0;
    }
}

@media screen and (min-width: 1024px) {
    .footer {
        width: 100%;
        margin: 0;
    }

    .footer p {
        height: 44px;
        margin: 0;
        font-size: 22px;
    }

    .footer p a {
        margin: 0;
    }
}
